@charset "UTF-8";
@charset "UTF-8";
/*------------------------------------------------------------------
[Master Stylesheet]
Project:	Matresume
++++ Imports ++++
++++ Reset ++++
++++ Main ++++
	1)Header
	2)about
	3)Hero BG
	4)Skills Sec
	5)Profile Sec
	6)Portfolio Sec
	7)Interest Sec
	8)Timeline
	10)Reference Sec
	11)Client Sec
	12)Pricing Sec
	13)contact Sec
	14)Footer Sec
	15)Navigation Sec
	16)Project Deatail Pages
++++ Mediaqueries ++++
-------------------------------------------------------------------*/
/****************************/
/** Imports **/
/****************************/
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700);
@import url(material.min.css);
@import url(material-icons.css);
@import url(material-design-iconic-font.min.css);
@import url(bootstrap.min.css);
@import url(jquery-ui.min.css);
@import url(owl.carousel.css);
@import url(lightgallery.css);
@import url(default-skin/default-skin.css);
/****************************/
/** Reset **/
/****************************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, a, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

html, body {
  height: inherit;
  width: inherit;
  min-height: inherit; }

strong {
  font-weight: bold; }

body {
  color: #848484;
  background: #e2e2e2;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 1.5;
  overflow-y: auto;
  overflow-x: hidden; }

/* Mozilla based browsers */
::-moz-selection {
  background: #338fff;
  color: #fff;
  text-shadow: none; }

/* Works in Safari */
::selection {
  background: #338fff;
  color: #fff;
  text-shadow: none; }

a:hover, a:active {
  outline: 0; }

button:focus {
  border: none;
  outline: 0; }

ul {
  list-style: none; }

a {
  color: #848484;
  text-decoration: none; }

a2 {
  color: whitesmoke;
  text-decoration: none; }

a:hover {
  color: #848484;
  text-decoration: none; }

a:focus {
  color: #848484;
  text-decoration: none;
  outline: none; }

i:focus {
  outline: none; }

h1, h2, h3, h4, h5, h6 {
  color: darkslategrey;
}

h1 {
  font-size: 42px;
  line-height: 42px;
  text-transform: capitalize; }

h2 {
  font-size: 24px;
  line-height: 35px;
  text-transform: capitalize; }

h3 {
  font-size: 20px;
  line-height: 30px;
  text-transform: capitalize; }

h4 {
  font-size: 18px;
  line-height: 29px;
  text-transform: capitalize; }

h5 {
  font-size: 16px;
  line-height: 25px;
  font-weight: 500;
  text-transform: uppercase; }

h6 {
  font-size: 10px;
  line-height: 25px;
  font-weight: 500;
  text-transform: uppercase; }

p {
  font-size: 15px;
  line-height: 25px; }
p2 {
  color: dimgray;
  font-size: 17px;
  line-height: 25px; }

p4 {
  font-family: monospace;
  color: black;
  font-size: 17px;
  line-height: 25px; }

p5 {
  color: black;
  font-size: 12px;
  line-height: 0px; }

p6 {
  color: gray;
  font-size: 11px;
  line-height: 0px; }


p3 {
  color: darkorange;
  font-size: 17px;
  line-height: 25px; }
  p.lead {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400; }

.force-UTF-8 {
  content: "¡"; }

/****************************/
/** Main **/
/****************************/
.pa-0 {
  padding: 0px !important; }

.pa-5 {
  padding: 5px !important; }

.pa-10 {
  padding: 10px !important; }

.pa-15 {
  padding: 15px !important; }

.pa-20 {
  padding: 20px !important; }

.pa-25 {
  padding: 25px !important; }

.pa-30 {
  padding: 30px !important; }

.pa-35 {
  padding: 35px !important; }

.pa-40 {
  padding: 40px !important; }

.pa-45 {
  padding: 45px !important; }

.pa-50 {
  padding: 50px !important; }

.pt-0 {
  padding-top: 0px !important; }

.pt-5 {
  padding-top: 5px !important; }

.pt-10 {
  padding-top: 10px !important; }

.pt-15 {
  padding-top: 15px !important; }

.pt-20 {
  padding-top: 20px !important; }

.pt-25 {
  padding-top: 25px !important; }

.pt-30 {
  padding-top: 30px !important; }

.pt-35 {
  padding-top: 35px !important; }

.pt-40 {
  padding-top: 40px !important; }

.pt-45 {
  padding-top: 45px !important; }

.pt-50 {
  padding-top: 50px !important; }

.pb-0 {
  padding-bottom: 0px !important; }

.pb-5 {
  padding-bottom: 5px !important; }

.pb-10 {
  padding-bottom: 10px !important; }

.pb-15 {
  padding-bottom: 15px !important; }

.pb-20 {
  padding-bottom: 20px !important; }

.pb-25 {
  padding-bottom: 25px !important; }

.pb-30 {
  padding-bottom: 30px !important; }

.pb-35 {
  padding-bottom: 35px !important; }

.pb-40 {
  padding-bottom: 40px !important; }

.pb-45 {
  padding-bottom: 45px !important; }

.pb-50 {
  padding-bottom: 50px !important; }

.pl-0 {
  padding-left: 0px !important; }

.pl-5 {
  padding-left: 5px !important; }

.pl-10 {
  padding-left: 10px !important; }

.pl-15 {
  padding-left: 15px !important; }

.pl-20 {
  padding-left: 20px !important; }

.pl-25 {
  padding-left: 25px !important; }

.pl-30 {
  padding-left: 30px !important; }

.pl-35 {
  padding-left: 35px !important; }

.pl-40 {
  padding-left: 40px !important; }

.pl-45 {
  padding-left: 45px !important; }

.pl-50 {
  padding-left: 50px !important; }

.pr-0 {
  padding-right: 0px !important; }

.pr-5 {
  padding-right: 5px !important; }

.pr-10 {
  padding-right: 10px !important; }

.pr-15 {
  padding-right: 15px !important; }

.pr-20 {
  padding-right: 20px !important; }

.pr-25 {
  padding-right: 25px !important; }

.pr-30 {
  padding-right: 30px !important; }

.pr-35 {
  padding-right: 35px !important; }

.pr-40 {
  padding-right: 40px !important; }

.pr-45 {
  padding-right: 45px !important; }

.pr-50 {
  padding-right: 50px !important; }

.ma-0 {
  margin: 0px !important; }

.ma-5 {
  margin: 5px !important; }

.ma-10 {
  margin: 10px !important; }

.ma-15 {
  margin: 15px !important; }

.ma-20 {
  margin: 20px !important; }

.ma-25 {
  margin: 25px !important; }

.ma-30 {
  margin: 30px !important; }

.mt-0 {
  margin-top: 0px !important; }

.mt-5 {
  margin-top: 5px !important; }

.mt-10 {
  margin-top: 10px !important; }

.mt-15 {
  margin-top: 15px !important; }

.mt-20 {
  margin-top: 20px !important; }

.mt-25 {
  margin-top: 25px !important; }

.mt-30 {
  margin-top: 30px !important; }

.mt-35 {
  margin-top: 35px !important; }

.mt-40 {
  margin-top: 40px !important; }

.mt-45 {
  margin-top: 45px !important; }

.mt-50 {
  margin-top: 50px !important; }

.mt-55 {
  margin-top: 55px !important; }

.mt-60 {
  margin-top: 60px !important; }

.mt-65 {
  margin-top: 65px !important; }

.mt-70 {
  margin-top: 70px !important; }

.mt-75 {
  margin-top: 75px !important; }

.mt-80 {
  margin-top: 80px !important; }

.mt-85 {
  margin-top: 85px !important; }

.mt-90 {
  margin-top: 90px !important; }

.mt-95 {
  margin-top: 95px !important; }

.mt-100 {
  margin-top: 100px !important; }

.mt-105 {
  margin-top: 105px !important; }

.mt-110 {
  margin-top: 110px !important; }

.mt-115 {
  margin-top: 115px !important; }

.mt-120 {
  margin-top: 120px !important; }

.mt-125 {
  margin-top: 125px !important; }

.mt-130 {
  margin-top: 130px !important; }

.mt-135 {
  margin-top: 135px !important; }

.mt-140 {
  margin-top: 140px !important; }

.mt-145 {
  margin-top: 145px !important; }

.mt-150 {
  margin-top: 150px !important; }

.mt-155 {
  margin-top: 155px !important; }

.mt-160 {
  margin-top: 160px !important; }

.mt-165 {
  margin-top: 165px !important; }

.mt-170 {
  margin-top: 170px !important; }

.mt-175 {
  margin-top: 175px !important; }

.mt-180 {
  margin-top: 180px !important; }

.mt-185 {
  margin-top: 185px !important; }

.mt-190 {
  margin-top: 190px !important; }

.mt-195 {
  margin-top: 195px !important; }

.mt-200 {
  margin-top: 200px !important; }

.mt-205 {
  margin-top: 205px !important; }

.mt-210 {
  margin-top: 210px !important; }

.mt-215 {
  margin-top: 215px !important; }

.mt-220 {
  margin-top: 220px !important; }

.mt-225 {
  margin-top: 225px !important; }

.mt-230 {
  margin-top: 230px !important; }

.mt-235 {
  margin-top: 235px !important; }

.mt-240 {
  margin-top: 240px !important; }

.mt-245 {
  margin-top: 245px !important; }

.mt-250 {
  margin-top: 250px !important; }

.mb-0 {
  margin-bottom: 0px !important; }

.mb-5 {
  margin-bottom: 5px !important; }

.mb-10 {
  margin-bottom: 10px !important; }

.mb-15 {
  margin-bottom: 15px !important; }

.mb-20 {
  margin-bottom: 20px !important; }

.mb-25 {
  margin-bottom: 25px !important; }

.mb-30 {
  margin-bottom: 30px !important; }

.mb-35 {
  margin-bottom: 35px !important; }

.mb-40 {
  margin-bottom: 40px !important; }

.mb-45 {
  margin-bottom: 45px !important; }

.mb-50 {
  margin-bottom: 50px !important; }

.mb-55 {
  margin-bottom: 55px !important; }

.mb-60 {
  margin-bottom: 60px !important; }

.mb-65 {
  margin-bottom: 65px !important; }

.mb-70 {
  margin-bottom: 70px !important; }

.mb-75 {
  margin-bottom: 75px !important; }

.mb-80 {
  margin-bottom: 80px !important; }

.mb-85 {
  margin-bottom: 85px !important; }

.mb-90 {
  margin-bottom: 90px !important; }

.mb-95 {
  margin-bottom: 95px !important; }

.mb-100 {
  margin-bottom: 100px !important; }

.mb-120 {
  margin-bottom: 120px !important; }

.ml-0 {
  margin-left: 0px !important; }

.ml-5 {
  margin-left: 5px !important; }

.ml-10 {
  margin-left: 10px !important; }

.ml-15 {
  margin-left: 15px !important; }

.ml-20 {
  margin-left: 20px !important; }

.ml-25 {
  margin-left: 25px !important; }

.ml-30 {
  margin-left: 30px !important; }

.ml-35 {
  margin-left: 35px !important; }

.ml-40 {
  margin-left: 40px !important; }

.ml-45 {
  margin-left: 45px !important; }

.ml-50 {
  margin-left: 50px !important; }

.mr-0 {
  margin-right: 0px !important; }

.mr-5 {
  margin-right: 5px !important; }

.mr-10 {
  margin-right: 10px !important; }

.mr-15 {
  margin-right: 15px !important; }

.mr-20 {
  margin-right: 20px !important; }

.mr-25 {
  margin-right: 25px !important; }

.mr-30 {
  margin-right: 30px !important; }

.mr-35 {
  margin-right: 35px !important; }

.mr-40 {
  margin-right: 40px !important; }

.mr-45 {
  margin-right: 45px !important; }

.mr-50 {
  margin-right: 50px !important; }

.ml-auto {
  margin-left: auto !important; }

.mr-auto {
  margin-right: auto !important; }

.no-float {
  float: none !important; }

.overflow-hide {
  overflow: hidden !important; }

.clearfix {
  overflow: hidden;
  clear: both;
  float: none; }

.sec-pad {
  padding-top: 70px;
  padding-bottom: 70px; }

.sec-pad-sm {
  padding-top: 40px;
  padding-bottom: 40px; }

.sec-pad-xs {
  padding-top: 25px;
  padding-bottom: 25px; }

.sec-pad-top {
  padding-top: 70px; }

.sec-pad-top-sm {
  padding-top: 40px; }

.sec-pad-top-xs {
  padding-top: 25px; }

.sec-pad-bottom {
  padding-bottom: 70px; }

.sec-pad-bottom-sm {
  padding-bottom: 40px; }

.sec-pad-bottom-xs {
  padding-bottom: 25px; }

.font-12 {
  font-size: 12px; }

.font-16 {
  font-size: 16px; }

.font-18 {
  font-size: 18px; }

.font-20 {
  font-size: 20px; }

.weight-500 {
  font-weight: 500; }

.weight-600 {
  font-weight: 600; }

.weight-700 {
  font-weight: 700; }

.font-dark {
  color: #444 !important; }

.font-grey {
  color: #848484 !important; }

.font-white {
  color: #fff !important; }

.font-green {
  color: #01c853 !important; }

.font-otcr {
  color: #003361 !important; }

.font-orange {
  color: #E55C20 !important; }

.font-blue {
  color: #2879ff !important; }

.font-yellow {
  color: #fec107 !important; }

.font-red {
  color: #ff3d00 !important; }

.font-violet {
  color: #6200eb !important; }

.font-UIUC {
  color: #0455A4 !important; }



.bg-green {
  background: #01c853 !important; }

.bg-blue {
  background: #2879ff !important; }

.bg-yellow {
  background: #fec107 !important; }

.bg-red {
  background: #ff3d00 !important; }

.bg-violet {
  background: #6200eb !important; }

.border-top-blue {
  border-top: 3px solid #2879ff; }

.border-top-green {
  border-top: 3px solid #01c853; }

.border-top-otcr {
  border-top: 3px solid #003361; }



.border-top-orange {
  border-top: 3px solid #E55C20; }

.border-top-yellow {
  border-top: 3px solid #fec107; }

.border-top-red {
  border-top: 3px solid #ff3d00; }

.border-top-UIUC {
  border-top: 3px solid #0455A4; }

.font-uppercase {
  text-transform: uppercase; }

.font-capitalize {
  text-transform: capitalize; }

.font-unsetcase {
  text-transform: none; }

.font-italic {
  font-style: italic; }

.inline-block {
  display: inline-block !important; }

.block {
  display: block !important; }

.border-top-sep {
  border-top: 1px solid rgba(0, 0, 0, 0.1); }

.border-bottom-sep {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.opacity-hide {
  opacity: 0;
  visibility: hidden; }

.table-wrap {
  display: table;
  height: 100%;
  width: 100%; }

.table-cell {
  display: table-cell; }

.vertical-align-middle {
  vertical-align: middle; }

.main-font {
  font-family: "Roboto", sans-serif; "Decima" }

.hide-overflow {
  overflow: hidden; }

.margin-lr-auto {
  margin-left: auto;
  margin-right: auto; }

.hide-block {
  display: none; }

.hide-left-opac {
  display: none;
  opacity: 0;
  top: -50px; }

.relative {
  position: relative; }

blockquote {
  background: transparent none repeat scroll 0 0;
  border: medium none;
  color: #444;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: inherit;
  line-height: 30px;
  margin: 0;
  padding: 0; }
  blockquote:before {
    content: ""; }
  blockquote:after {
    content: ""; }

.ref-name {
  text-transform: capitalize;
  color: #444; }

.ref-desgn {
  font-size: 14px; }

.preloader-it {
  background: #fff;
  position: fixed;
  z-index: 110;
  height: 100%;
  width: 100%;
  overflow: hidden !important; }
  .preloader-it .mdl-spinner {
    bottom: 0;
    height: 40px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px; }

.main-wrapper {
  background: #eee;
  position: relative; }
  .main-wrapper.box-layout {
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto; }
  .main-wrapper.dark-mode {
    background: #1d1d1d; }
    .main-wrapper.dark-mode h1, .main-wrapper.dark-mode h2, .main-wrapper.dark-mode h4, .main-wrapper.dark-mode h5,
    .main-wrapper.dark-mode .about-sec .profile-wrap li div.profile-title,
    .main-wrapper.dark-mode .timeline > li > .timeline-panel .institution,
    .main-wrapper.dark-mode .mdl-button.view-more,
    .main-wrapper.dark-mode blockquote,
    .main-wrapper.dark-mode .ref-name {
      color: #fff; }
    .main-wrapper.dark-mode .price-sec .mdl-card__supporting-text .list-group li {
      border-color: #1d1d1d; }
    .main-wrapper.dark-mode .mdl-card__actions.mdl-card--border,
    .main-wrapper.dark-mode .price-sec .mdl-card__supporting-text .list-group li {
      border-color: rgba(255, 255, 255, 0.1); }
    .main-wrapper.dark-mode .mdl-card,
    .main-wrapper.dark-mode .list-group-item,
    .main-wrapper.dark-mode .timeline > li > .timeline-badge {
      background: #2b2b2b; }
    .main-wrapper.dark-mode .timeline > li > .timeline-panel::after {
      border-color: transparent #2b2b2b; }
    .main-wrapper.dark-mode .timeline::before,
    .main-wrapper.dark-mode .skills-sec .progress-bar-graph .bar-wrap {
      background: #565656; }
    .main-wrapper.dark-mode .price-sec .price-bg {
      background: #252525; }
    .main-wrapper.dark-mode .mdl-card__title,
    .main-wrapper.dark-mode .comment-name, .main-wrapper.dark-mode .project-detail-2 .project-detail-6 .comment-name {
      color: #fff !important; }
    .main-wrapper.dark-mode .contact-sec .mdl-textfield.is-invalid .mdl-textfield__input, .main-wrapper.dark-mode  .comment-sec .mdl-textfield.is-invalid .mdl-textfield__input,  .main-wrapper.dark-mode .comment-sec .mdl-textfield.is-invalid .mdl-textfield__input, .main-wrapper.dark-mode .project-detail-2 .project-detail-6 .comment-sec .mdl-textfield.is-invalid .mdl-textfield__input, .project-detail-2 .project-detail-6 .main-wrapper.dark-mode .comment-sec .mdl-textfield.is-invalid .mdl-textfield__input,
    .main-wrapper.dark-mode .comment-sec .mdl-textfield.is-invalid .mdl-textfield__input {
      border-color: rgba(255, 255, 255, 0.12) !important; }

.mdl-button {
  color: #fff;
  height: 40px;
  padding: 3px 10px;
  font-weight: 400;
}
  .mdl-button.view-more {
    color: #444; }

.mdl-button--fab {
  height: 56px;
  min-width: 56px; }

.mdl-button--icon {
  height: 32px;
  min-width: 32px;
  padding: 0;
  width: 32px; }

.mdl-button--raised {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }

.mdl-menu__item > a {
  display: block;
  color: #444; }

.mdl-card {
  width: auto;
  min-height: inherit;
  position: static;
  overflow: visible;
  display: block;
  padding: 45px 25px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03), 0 3px 1px -2px rgba(0, 0, 0, 0.03), 0 1px 5px 0 rgba(0, 0, 0, 0.03); }

.mdl-card-2 {
  color: ;
  width: auto;
  min-height: inherit;
  position: static;
  overflow: visible;
  display: block;
  padding: 45px 25px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.0), 0 3px 1px -2px rgba(0, 0, 0, 0.0), 0 1px 5px 0 rgba(0, 0, 0, 0.0); }

.mdl-card-test {
  width: auto;
  min-height: inherit;
  position: static;
  overflow: visible;
  display: block;
  padding: 45px 25px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03), 0 3px 1px -2px rgba(0, 0, 0, 0.03), 0 1px 5px 0 rgba(0, 0, 0, 0.03); }

.mdl-card__title {
  display: block;
  color: #444; }

.mdl-card__supporting-text {
  padding: 20px;
  overflow: visible;
  width: 100%;
  color: inherit; }

.mdl-tooltip {
  text-transform: capitalize;
  background: #444;
  font-weight: 400;
  font-size: 12px; }

/*Header*/
.mdl-layout__title, .mdl-layout-title {
  text-transform: capitalize;
  color: white;
  font-weight: 700; }

.mdl-layout__container {
  height: auto;
  position: static;
  width: auto; }
  .mdl-layout__container .mdl-layout__drawer, .mdl-layout__container .mdl-layout__obfuscator {
    position: fixed; }

.mdl-layout__header {
  width: 940px;
  margin: 0 auto;
  right: 0;
  position: fixed;
  left: 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03), 0 3px 1px -2px rgba(0, 0, 0, 0.03), 0 1px 5px 0 rgba(0, 0, 0, 0.03);
  background: #2b2b2b; }
  .mdl-layout__header .mdl-layout__header-row .mdl-navigation li {
    cursor: pointer; }
  .mdl-layout__header .mdl-layout__header-row .mdl-navigation .mdl-navigation__link {
    color: white;
    text-transform: capitalize;
    padding: 0 15px;
    position: relative;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease; }
    .mdl-layout__header .mdl-layout__header-row .mdl-navigation .mdl-navigation__link:hover {
      background: none;
      color: #ff3d00; }
    .mdl-layout__header .mdl-layout__header-row .mdl-navigation .mdl-navigation__link:focus, .mdl-layout__header .mdl-layout__header-row .mdl-navigation .mdl-navigation__link:active {
      background: none;
      opacity: 1; }
    .mdl-layout__header .mdl-layout__header-row .mdl-navigation .mdl-navigation__link:after {
      background: #ff3d00;
      bottom: 0;
      content: "";
      height: 2px;
      left: 0;
      position: absolute;
      width: 0;
      -moz-transition: all 0.2s cubic-bezier(0.4, 0, 1, 1);
      -o-transition: all 0.2s cubic-bezier(0.4, 0, 1, 1);
      -webkit-transition: all 0.2s cubic-bezier(0.4, 0, 1, 1);
      transition: all 0.2s cubic-bezier(0.4, 0, 1, 1); }
  .mdl-layout__header .mdl-layout__header-row .mdl-navigation li.active .mdl-navigation__link {
    opacity: 1; }
    .mdl-layout__header .mdl-layout__header-row .mdl-navigation li.active .mdl-navigation__link:after {
      width: 100%; }
  .mdl-layout__header .mdl-layout__drawer-button {
    color: #444; }
    .mdl-layout__header .mdl-layout__drawer-button:focus {
      outline: none; }
  .mdl-layout__header .mdl-button--icon.ver-more-btn {
    color: #444; }

.mdl-layout__obfuscator {
  background-color: transparent !important; }

.mdl-layout__drawer {
  display: block;
  color: inherit;
  background: #2b2b2b none repeat scroll 0 0;
  border-right: medium none;
  width: 280px;
  -moz-transform: translateX(-280px);
  -o-transform: translateX(-280px);
  -webkit-transform: translateX(-280px);
  transform: translateX(-280px); }
  .mdl-layout__drawer .drawer-profile-wrap {
    overflow: hidden;
    background: #272727; }
  .mdl-layout__drawer .candidate-img-drawer {
    height: 123px;
    width: 123px;
    border-radius: 50%;
    background: url("../img/Satej_Shah.jpg");
    background-size: cover;
    margin: 0 auto; }
  .mdl-layout__drawer .candidate-name {
    font-size: 18px;
    color: #fff;
    text-transform: capitalize; }
  .mdl-layout__drawer .social-icons {
    text-align: center; }
    .mdl-layout__drawer .social-icons li {
      display: inline-block;
      padding: 0 7px; }
      .mdl-layout__drawer .social-icons li a i {
        color: #848484;
        -moz-transition: 0.3s ease;
        -o-transition: 0.3s ease;
        -webkit-transition: 0.3s ease;
        transition: 0.3s ease; }
      .mdl-layout__drawer .social-icons li a.facebook-link:hover i {
        color: #3b5998; }
      .mdl-layout__drawer .social-icons li a.twitter-link:hover i {
        color: #55acee; }
      .mdl-layout__drawer .social-icons li a.linkedin-link:hover i {
        color: #007bb6; }
      .mdl-layout__drawer .social-icons li a.dribbble-link:hover i {
        color: #ea4c89; }
      .mdl-layout__drawer .social-icons li a.instagram-link:hover i {
        color: #3f729b; }
      .mdl-layout__drawer .social-icons li a.email-link:hover i {
        color: greenyellow; }
  .mdl-layout__drawer .mdl-navigation {
    padding-top: 0; }
    .mdl-layout__drawer .mdl-navigation li .mdl-navigation__link {
      color: #969696;
      -moz-transition: 0.3s ease;
      -o-transition: 0.3s ease;
      -webkit-transition: 0.3s ease;
      transition: 0.3s ease; }
      .mdl-layout__drawer .mdl-navigation li .mdl-navigation__link:hover {
        background: #272727; }
    .mdl-layout__drawer .mdl-navigation li.active .mdl-navigation__link {
      color: #fff; }
      .mdl-layout__drawer .mdl-navigation li.active .mdl-navigation__link:hover {
        color: #969696; }
    .mdl-layout__drawer .mdl-navigation li:focus {
      outline: none; }
    .mdl-layout__drawer .mdl-navigation li ul li .mdl-navigation__link {
      padding-left: 72px; }

.mdl-layout__drawer-right {
  width: 210px;
  height: 100%;
  max-height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  background: #fff;
  -moz-transform: translateX(210px);
  -o-transform: translateX(210px);
  -webkit-transform: translateX(210px);
  transform: translateX(210px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  will-change: transform;
  -moz-transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 5; }
  .mdl-layout__drawer-right .mdl-layout-title {
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 17px;
    padding-left: 20px;
    padding-top: 17px; }
  .mdl-layout__drawer-right .layout-switcher-wrap {
    padding-left: 20px;
    padding-top: 35px; }
    .mdl-layout__drawer-right .layout-switcher-wrap ul li {
      margin-bottom: 40px; }
      .mdl-layout__drawer-right .layout-switcher-wrap ul li .layout-title {
        display: inline-block;
        font-size: 15px;
        margin-right: 15px;
        text-transform: capitalize;
        width: 120px;
        color: #444; }
      .mdl-layout__drawer-right .layout-switcher-wrap ul li .layout-switcher {
        display: inline-block; }
  .mdl-layout__drawer-right .hero-switcher-wrap {
    padding-left: 20px;
    margin-top: 35px; }
    .mdl-layout__drawer-right .hero-switcher-wrap .hero-switcher-title {
      font-size: 16px;
      text-transform: uppercase;
      color: #444;
      margin-bottom: 25px;
      display: block; }
    .mdl-layout__drawer-right .hero-switcher-wrap .hero-switcher-cat-title {
      text-transform: capitalize;
      display: block;
      margin-bottom: 10px; }
    .mdl-layout__drawer-right .hero-switcher-wrap ul li {
      display: inline-block;
      height: 35px;
      width: 35px;
      border-radius: 2px;
      margin-right: 3px;
      background-position: center;
      background-size: cover;
      cursor: pointer; }

/*About Sec*/
.about-sec .candidate-img {
  height: 230px;
  width: 230px;
  border-radius: 50%;
  background: url("../img/Satej.Shah.jpg");
  background-size: cover;
  margin: 0 auto; }
.about-sec .social-icons {
  text-align: center; }
  .about-sec .social-icons li {
    display: inline-block;
    padding: 0 9px; }
    .about-sec .social-icons li:focus {
      outline: none; }
    .about-sec .social-icons li a i {
      color: #848484;
      font-size: 18px;
      -moz-transition: 0.3s ease;
      -o-transition: 0.3s ease;
      -webkit-transition: 0.3s ease;
      transition: 0.3s ease; }
    .about-sec .social-icons li a.facebook-link:hover i {
      color: #3b5998; }
    .about-sec .social-icons li a.twitter-link:hover i {
      color: #55acee; }
    .about-sec .social-icons li a.linkedin-link:hover i {
      color: #007bb6; }
    .about-sec .social-icons li a.dribble-link:hover i {
      color: #007bb6; }
    .about-sec .social-icons li a.instagram-link:hover i {
      color: #3f729b; }
    .about-sec .social-icons li a.email-link:hover i {
      color: greenyellow; }

.about-sec .profile-wrap li {
  margin-bottom: 8px; }
  .about-sec .profile-wrap li:last-child {
    margin-bottom: 0; }
  .about-sec .profile-wrap li .profile-title, .about-sec .profile-wrap li .profile-desc {
    display: inline-block; }
  .about-sec .profile-wrap li div.profile-title {
    width: 150px;
    margin-right: 20px;
    text-transform: capitalize;
    color: #444; }
.about-sec .datepicker {
  position: absolute;
  z-index: 4;
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -moz-transition: 0.2s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  -o-transition: 0.2s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  -webkit-transition: 0.2s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  transition: 0.2s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  transform-origin: 0 0 0;
  -webkit-transform-origin: 0 0 0; }
  .about-sec .datepicker.datepicker-open {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); }
  .about-sec .datepicker .ui-datepicker-prev, .about-sec .datepicker .ui-datepicker-next {
    border: medium none;
    display: inline-block;
    font-family: "Material-Design-Iconic-Font";
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size: inherit;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-rendering: auto;
    cursor: pointer;
    font-size: 20px !important;
    padding-top: 8px;
    text-align: center; }
  .about-sec .datepicker .ui-datepicker .ui-datepicker-title {
    font-weight: 500; }
  .about-sec .datepicker .ui-datepicker .ui-datepicker-prev {
    left: 0 !important;
    top: 0; }
  .about-sec .datepicker .ui-datepicker .ui-datepicker-next {
    right: 0 !important;
    top: 0; }
  .about-sec .datepicker .ui-datepicker-prev:before {
    content: '\f2fa'; }
  .about-sec .datepicker .ui-datepicker-next:before {
    content: '\f2fb'; }
  .about-sec .datepicker .ui-widget {
    font-family: inherit; }
  .about-sec .datepicker .ui-widget-header .ui-icon {
    background-image: none; }
  .about-sec .datepicker .ui-widget-header, .about-sec .datepicker .ui-state-hover, .about-sec .datepicker .ui-widget-content .ui-state-hover, .about-sec .datepicker .ui-widget-header .ui-state-hover, .about-sec .datepicker .ui-state-focus, .about-sec .datepicker .ui-widget-content .ui-state-focus, .about-sec .datepicker .ui-widget-header .ui-state-focus, .about-sec .datepicker .ui-button:hover, .about-sec .datepicker .ui-button:focus {
    background: transparent none repeat scroll 0 0;
    border: none; }
  .about-sec .datepicker .ui-widget.ui-widget-content {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
    border: 1px solid transparent;
    border-radius: 0; }
  .about-sec .datepicker .ui-state-default, .about-sec .datepicker .ui-widget-content .ui-state-default, .about-sec .datepicker .ui-widget-header .ui-state-default, .about-sec .datepicker .ui-button, .about-sec .datepicker html .ui-button.ui-state-disabled:hover, .about-sec .datepicker html .ui-button.ui-state-disabled:active {
    background: transparent none repeat scroll 0 0;
    border: none;
    color: #444;
    display: table-cell;
    padding: 0;
    vertical-align: middle;
    text-align: center; }
  .about-sec .datepicker .ui-state-default {
    height: 30px;
    width: 30px; }
  .about-sec .datepicker .ui-widget-content .ui-state-default.ui-state-highlight {
    background: #01c853;
    border-radius: 50%;
    color: #fff;
    height: 30px;
    width: 30px; }
  .about-sec .datepicker .ui-state-disabled, .about-sec .datepicker .ui-widget-content .ui-state-disabled, .about-sec .datepicker .ui-widget-header .ui-state-disabled {
    opacity: 1; }
    .about-sec .datepicker .ui-state-disabled .ui-state-default, .about-sec .datepicker .ui-widget-content .ui-state-disabled .ui-state-default, .about-sec .datepicker .ui-widget-header .ui-state-disabled .ui-state-default {
      color: #ff3d00; }
.about-sec #datepickopn {
  cursor: pointer; }
.about-sec .ui-datepicker {
  font-size: 14px;
  padding: 11px;
  width: 20em; }
.about-sec .ui-widget-header {
  color: #444; }
.about-sec .ui-widget-content {
  color: #848484; }

#datepicklayer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  opacity: 0;
  z-index: 3; }

/*Skills Sec*/
.skills-sec .progress-cat {
  padding-bottom: 11px;
  display: block;
  font-size: 14px; }
.skills-sec .progress-bar-graph .bar-wrap {
  position: relative;
  float: left;
  width: 100%;
  background: #bababa; }
  .skills-sec .progress-bar-graph .bar-wrap strong {
    font-size: 12px;
    opacity: 0;
    display: block;
    float: left;
    position: absolute;
    right: 0px;
    top: -27px; }
  .skills-sec .progress-bar-graph .bar-wrap.green-bar span {
    background: #01c853; }
    .skills-sec .progress-bar-graph .bar-wrap.green-bar span:after {
      background: #01c853; }
  .skills-sec .progress-bar-graph .bar-wrap.yellow-bar span {
    background: #fec107; }
    .skills-sec .progress-bar-graph .bar-wrap.yellow-bar span:after {
      background: #fec107; }
  .skills-sec .progress-bar-graph .bar-wrap.red-bar span {
    background: #ff3d00; }
    .skills-sec .progress-bar-graph .bar-wrap.red-bar span:after {
      background: #ff3d00; }
  .skills-sec .progress-bar-graph .bar-wrap.blue-bar span {
    background: #2879ff; }
    .skills-sec .progress-bar-graph .bar-wrap.blue-bar span:after {
      background: #2879ff; }
  .skills-sec .progress-bar-graph .bar-wrap.violet-bar span {
    background: #6200eb; }
    .skills-sec .progress-bar-graph .bar-wrap.violet-bar span:after {
      background: #6200eb; }
.skills-sec .progress-bar-graph span {
  height: 2px;
  width: 0px;
  display: block;
  float: left;
  position: relative;
  overflow: visible !important; }
  .skills-sec .progress-bar-graph span:after {
    border-radius: 50%;
    content: "";
    height: 13px;
    position: absolute;
    right: 0px;
    top: -6px;
    width: 13px; }

/*Profile Sec*/
.profile-sec .profile-icon {
  font-size: 35px;
  display: block;
  margin-bottom: 45px; }

/*Portfolio Sec*/
.portfolio-sec .bottom-links {
  display: block;
  padding: 11px 30px;
  text-align: right;
  font-size: 22px; }
  .portfolio-sec .bottom-links a:first-child {
    padding-right: 30px; }
.portfolio-sec .light-img-wrap {
  position: relative;
  overflow: hidden; }
  .portfolio-sec .light-img-wrap img {
    -moz-transform: scale(1.01);
    -o-transform: scale(1.01);
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    -moz-transition: 1s ease;
    -o-transition: 1s ease;
    -webkit-transition: 1s ease;
    transition: 1s ease; }
  .portfolio-sec .light-img-wrap .light-img-overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.05);
    z-index: 1; }
  .portfolio-sec .light-img-wrap .img-cap {
    position: absolute;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    display: inline-block;
    left: 20px;
    bottom: 20px;
    z-index: 2; }
.portfolio-sec .item:hover .light-img-wrap img {
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -moz-transform: scale3d(1.1, 1.1, 1);
  -o-transform: scale3d(1.1, 1.1, 1);
  -webkit-transform: scale3d(1.1, 1.1, 1);
  transform: scale3d(1.1, 1.1, 1); }
.portfolio-sec #filters > li {
  display: inline-block;
  padding-right: 15px; }
  .portfolio-sec #filters > li:last-child {
    padding-right: 0; }
  .portfolio-sec #filters > li a {
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase; }
    .portfolio-sec #filters > li a.active {
      color: #2879ff; }

/*Timeline*/
.timeline {
  list-style: none;
  position: relative; }
  .timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 1px;
    left: 50%;
    background: #bababa; }
  .timeline > li {
    margin-bottom: 50px;
    position: relative;
    width: 50%;
    float: left;
    clear: left; }
    .timeline > li:last-child {
      margin-bottom: 0; }
    .timeline > li:nth-last-child(2) {
      margin-bottom: 0; }
    .timeline > li > .timeline-panel {
      width: calc(100% - 50px);
      float: left;
      position: relative; }
      .timeline > li > .timeline-panel .institution {
        color: #444; }
      .timeline > li > .timeline-panel .institution, .timeline > li > .timeline-panel .duration {
        display: block;
        font-size: 14px;
        text-transform: capitalize; }
      .timeline > li > .timeline-panel:after {
        position: absolute;
        top: 30px;
        right: -10px;
        display: inline-block;
        border-top: 10px solid transparent;
        border-left: 10px solid #fff;
        border-right: 0 solid #fff;
        border-bottom: 10px solid transparent;
        content: " "; }
      .timeline > li > .timeline-panel:before {
        border-color: transparent rgba(0, 0, 0, 0.1);
        border-style: solid;
        border-width: 13px 0 13px 13px;
        content: " ";
        display: inline-block;
        opacity: 0.2;
        position: absolute;
        right: -13px;
        top: 27px; }
    .timeline > li > .timeline-badge {
      background: #fff;
      border-radius: 50%;
      height: 38px;
      line-height: 50px;
      position: absolute;
      right: -19px;
      text-align: center;
      top: 23px;
      width: 38px;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03), 0 3px 1px -2px rgba(0, 0, 0, 0.03), 0 1px 5px 0 rgba(0, 0, 0, 0.03); }
      .timeline > li > .timeline-badge.no-icon {
        height: 16px;
        right: -8px;
        width: 16px;
        top: 35px; }
      .timeline > li > .timeline-badge i {
        font-size: 23px;
        left: 0;
        position: absolute;
        right: 0;
        top: 8px; }
    .timeline > li.timeline-inverted
    > .timeline-panel {
      float: right; }
      .timeline > li.timeline-inverted
      > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 10px;
        left: -10px;
        right: auto; }
      .timeline > li.timeline-inverted
      > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 12px;
        left: -12px;
        right: auto; }
    .timeline > li.timeline-inverted {
      float: right;
      clear: right;
      margin-top: 60px;
      margin-bottom: 0px; }
    .timeline > li:nth-child(2) {
      margin-top: 100px; }
    .timeline > li.timeline-inverted > .timeline-badge {
      left: -19px; }
      .timeline > li.timeline-inverted > .timeline-badge.no-icon {
        left: -8px; }

/*Reference Sec*/
.reference-sec .owl-theme .owl-controls {
  display: inline-block;
  float: right; }
  .reference-sec .owl-theme .owl-controls .owl-nav div {
    display: inline-block; }
    .reference-sec .owl-theme .owl-controls .owl-nav div i {
      font-size: 19px; }
      .reference-sec .owl-theme .owl-controls .owl-nav div i:hover {
        color: #2879ff; }
  .reference-sec .owl-theme .owl-controls .owl-prev {
    margin-right: 20px; }


/*Contact Sec*/
.contact-sec .mdl-textfield,  .comment-sec .mdl-textfield, .project-detail-2 .project-detail-6 .comment-sec .mdl-textfield {
  width: 100%; }
.contact-sec .mdl-textfield__label,  .comment-sec .mdl-textfield__label, .project-detail-2 .project-detail-6 .comment-sec .mdl-textfield__label {
  font-size: 14px;
  text-transform: capitalize;
  color: inherit; }
.contact-sec .mdl-textfield--floating-label.is-invalid .mdl-textfield__label,  .comment-sec .mdl-textfield--floating-label.is-invalid .mdl-textfield__label, .project-detail-2 .project-detail-6 .comment-sec .mdl-textfield--floating-label.is-invalid .mdl-textfield__label {
  color: inherit; }
.contact-sec .mdl-textfield--floating-label.is-invalid.is-focused .mdl-textfield__label,  .comment-sec .mdl-textfield--floating-label.is-invalid.is-focused .mdl-textfield__label, .project-detail-2 .project-detail-6 .comment-sec .mdl-textfield--floating-label.is-invalid.is-focused .mdl-textfield__label,
.contact-sec .mdl-textfield--floating-label.is-focused .mdl-textfield__label,
 .comment-sec .mdl-textfield--floating-label.is-focused .mdl-textfield__label,
.project-detail-2 .project-detail-6 .comment-sec .mdl-textfield--floating-label.is-focused .mdl-textfield__label, .contact-sec .mdl-textfield--floating-label.is-dirty .mdl-textfield__label,  .comment-sec .mdl-textfield--floating-label.is-dirty .mdl-textfield__label, .project-detail-2 .project-detail-6 .comment-sec .mdl-textfield--floating-label.is-dirty .mdl-textfield__label, .contact-sec .mdl-textfield--floating-label.has-placeholder .mdl-textfield__label,  .comment-sec .mdl-textfield--floating-label.has-placeholder .mdl-textfield__label, .project-detail-2 .project-detail-6 .comment-sec .mdl-textfield--floating-label.has-placeholder .mdl-textfield__label {
  color: #3f51b5; }
.contact-sec .mdl-textfield.is-invalid .mdl-textfield__label::after,  .comment-sec .mdl-textfield.is-invalid .mdl-textfield__label::after, .project-detail-2  .project-detail-6 .comment-sec .mdl-textfield.is-invalid .mdl-textfield__label::after {
  background-color: #3f51b5; }
.contact-sec .mdl-textfield.is-invalid .mdl-textfield__input,  .comment-sec .mdl-textfield.is-invalid .mdl-textfield__input, .project-detail-2  .project-detail-6 .comment-sec .mdl-textfield.is-invalid .mdl-textfield__input {
  border-color: rgba(0, 0, 0, 0.12); }
.contact-sec #map_canvas,  .comment-sec #map_canvas, .project-detail-2  .project-detail-6 .comment-sec #map_canvas {
  height: 600px; }
.contact-sec .form-horizontal .form-group,  .comment-sec .form-horizontal .form-group, .project-detail-2  .project-detail-6 .comment-sec .form-horizontal .form-group {
  margin: 0; }
.contact-sec .result,  .comment-sec .result, .project-detail-2  .project-detail-6 .comment-sec .result {
  background: transparent !important;
  text-transform: capitalize;
  bottom: 35px;
  position: absolute; }

/*Footer Sec*/
.footer-sec .social-icons {
  text-align: center; }
  .footer-sec .social-icons li {
    display: inline-block;
    padding: 0 9px; }
    .footer-sec .social-icons li:focus {
      outline: none; }
    .footer-sec .social-icons li a i {
      color: #848484;
      -moz-transition: 0.3s ease;
      -o-transition: 0.3s ease;
      -webkit-transition: 0.3s ease;
      transition: 0.3s ease; }
    .footer-sec .social-icons li a.facebook-link:hover i {
      color: #3b5998; }
    .footer-sec .social-icons li a.twitter-link:hover i {
      color: #55acee; }
    .footer-sec .social-icons li a.linkedin-link:hover i {
      color: #007bb6; }
    .footer-sec .social-icons li a.dribbble-link:hover i {
      color: #ea4c89; }
    .footer-sec .social-icons li a.instagram-link:hover i {
      color: #3f729b; }
    .footer-sec .social-icons li a.email-link:hover i {
      color: greenyellow; }

/*Navigation Sec*/
.navigation-block a {
  position: relative; }
  .navigation-block a i {
    font-size: 21px; }
.navigation-block.priview-text a {
  position: relative; }
  .navigation-block.priview-text a i {
    position: absolute;
    top: 2px; }
  .navigation-block.priview-text a.next i {
    right: 0; }
  .navigation-block.priview-text a.prev i {
    left: 0; }

/*Blog & Project Deatail Pages*/
 .bg-struct, .project-detail-2  .project-detail-6 .bg-struct {
  height: 300px; }
  .mdl-card .mdl-card__title .main-blogpost-img.blog-img, .project-detail-2  .project-detail-6  .mdl-card .mdl-card__title .main-blogpost-img.blog-img {
  background: url(../img/gallery5.jpg);
  background-size: cover;
  background-position: center; }
  .mdl-card .mdl-card__title .main-blogpost-img.blog-img,
 .project-sec .mdl-card .mdl-card__title .main-blogpost-img.blog-img, .project-detail-2  .project-detail-6  .mdl-card .mdl-card__title .main-blogpost-img.blog-img,
.project-detail-2  .project-detail-6 .project-sec .mdl-card .mdl-card__title .main-blogpost-img.blog-img {
  height: 400px;
  transform: scale(1); }
 -list li, .project-detail-2  .project-detail-6 -list li {
  margin-bottom: 8px;
  list-style: disc;
  list-style-position: inside; }
 .user-comment, .project-detail-2  .project-detail-6 .user-comment {
  margin-bottom: 30px;
  padding-left: 80px;
  position: relative; }
 .user-image, .project-detail-2  .project-detail-6 .user-image {
  border-radius: 100%;
  height: 60px;
  overflow: hidden;
  width: 60px;
  position: absolute;
  left: 0px; }
   .user-image img, .project-detail-2  .project-detail-6 .user-image img {
    width: 100%;
    height: auto; }
 .comment-name, .project-detail-2  .project-detail-6 .comment-name {
  display: block;
  margin-bottom: 5px;
  text-transform: capitalize;
  color: #444; }
 .comment-date, .project-detail-2  .project-detail-6 .comment-date {
  display: inline-block;
  font-size: 13px;
  margin-bottom: 10px; }
 .user-comment-reply, .project-detail-2  .project-detail-6 .user-comment-reply {
  position: relative;
  padding-left: 80px;
  margin-top: 30px;
  display: block; }
 a.reply, .project-detail-2  .project-detail-6 a.reply {
  margin-top: 15px;
  padding-left: 30px;
  font-size: 13px; }
 iframe.player, .project-detail-2  .project-detail-6 iframe.player {
  width: 100%;
  height: 400px; }
   iframe.player.audio-player, .project-detail-2  .project-detail-6 iframe.player.audio-player {
    height: 100px; }
 .carousel-fade .carousel-inner .item, .project-detail-2  .project-detail-6 .carousel-fade .carousel-inner .item {
  transition-property: opacity;
  -webkit-transition-property: opacity; }
 .carousel-fade .carousel-inner .item,
 .carousel-fade .carousel-inner .active.left,
 .carousel-fade .carousel-inner .active.right, .project-detail-2  .project-detail-6 .carousel-fade .carousel-inner .item,
.project-detail-2  .project-detail-6 .carousel-fade .carousel-inner .active.left,
.project-detail-2  .project-detail-6 .carousel-fade .carousel-inner .active.right {
  opacity: 0; }
 .carousel-fade .carousel-inner .active,
 .carousel-fade .carousel-inner .next.left,
 .carousel-fade .carousel-inner .prev.right, .project-detail-2  .project-detail-6 .carousel-fade .carousel-inner .active,
.project-detail-2  .project-detail-6 .carousel-fade .carousel-inner .next.left,
.project-detail-2  .project-detail-6 .carousel-fade .carousel-inner .prev.right {
  opacity: 1; }
 .carousel-fade .carousel-inner .next,
 .carousel-fade .carousel-inner .prev,
 .carousel-fade .carousel-inner .active.left,
 .carousel-fade .carousel-inner .active.right, .project-detail-2  .project-detail-6 .carousel-fade .carousel-inner .next,
.project-detail-2  .project-detail-6 .carousel-fade .carousel-inner .prev,
.project-detail-2  .project-detail-6 .carousel-fade .carousel-inner .active.left,
.project-detail-2  .project-detail-6 .carousel-fade .carousel-inner .active.right {
  left: 0;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0); }
 .carousel-fade .carousel-control, .project-detail-2  .project-detail-6 .carousel-fade .carousel-control {
  z-index: 2; }
 .carousel-fade .carousel-indicators, .project-detail-2  .project-detail-6 .carousel-fade .carousel-indicators {
  z-index: 1; }
   .carousel-fade .carousel-indicators li, .project-detail-2  .project-detail-6 .carousel-fade .carousel-indicators li {
    border-color: #01c853; }
   .carousel-fade .carousel-indicators .active, .project-detail-2  .project-detail-6 .carousel-fade .carousel-indicators .active {
    background-color: #01c853; }
 .carousel,
 .carousel-inner,
 .carousel-inner .item, .project-detail-2  .project-detail-6 .carousel,
.project-detail-2  .project-detail-6 .carousel-inner,
.project-detail-2  .project-detail-6 .carousel-inner .item {
  height: 400px;
  background-size: cover !important;
  background-position: center !important; }



.project-detail-2 .carousel,
.project-detail-2 .carousel-inner,
.project-detail-2 .carousel-inner .item {
  height: 500px; }
.project-detail-2 .item:nth-child(1) {
  background: url(../img/YJA.JIA.Portfolio.jpg); }
.project-detail-2 .item:nth-child(2) {
  background: url(../img/YJA.Discuss.Portfolio.jpg); }
.project-detail-2 .item:nth-child(3) {
  background: url(../img/YJA.2016.Portfolio.jpg); }

.project-detail-6 .carousel,
.project-detail-6 .carousel-inner,
.project-detail-6 .carousel-inner .item {
  height: 500px; }
.project-detail-6 .item:nth-child(1) {
  background: url(../img/OTCR.jpg); }
.project-detail-6 .item:nth-child(2) {
  background: url(../img/YJAMaster.jpg); }
.project-detail-6 .item:nth-child(3) {
  background: url(../img/photography.JPG); }

/****************************/
/** Mediaqueries **/
/****************************/
@media (max-width: 1023px) {
  .mdl-layout--large-screen-only {
    display: none; }

  .mdl-layout__header {
    width: 100%; }

  .navigation-block span {
    display: none !important; }
  .navigation-block.priview-text a i {
    position: relative;
    top: 2px; } }
@media (min-width: 992px) {
  .container {
    width: 1200px; } }
@media (max-width: 768px) {
  .mt-sm-120 {
    margin-top: 120px !important; }

  .about-sec .candidate-img {
    height: 180px;
    width: 180px; }
  .about-sec .info-wrap {
    text-align: center; }

  ul.timeline:before {
    left: 23px; }
  ul.timeline > li {
    margin-bottom: 0px;
    position: relative;
    width: 100%;
    float: left;
    clear: left; }
    ul.timeline > li > .timeline-panel {
      width: calc(100% - 65px);
      width: -moz-calc(100% - 65px);
      width: -webkit-calc(100% - 65px); }
      ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 12px;
        left: -12px;
        right: auto; }
    ul.timeline > li > .timeline-badge {
      left: 4px;
      margin-left: 0; }
      ul.timeline > li > .timeline-badge.no-icon {
        left: 16px; }
    ul.timeline > li > .timeline-panel {
      float: right; }
      ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 10px;
        left: -10px;
        right: auto; }

  .timeline > li.timeline-inverted {
    float: left;
    clear: left;
    margin-top: 30px;
    margin-bottom: 30px; }
    .timeline > li.timeline-inverted > .timeline-badge {
      left: 4px; }
      .timeline > li.timeline-inverted > .timeline-badge.no-icon {
        left: 16px; } }
@media (max-width: 568px) {
  h1 {
    font-size: 35px; }

  .float-none-xs {
    float: none !important; }

  .portfolio-sec #filters {
    margin-top: 20px; } }
@media (max-width: 567px) {
  .about-sec .profile-wrap li .profile-title, .about-sec .profile-wrap li .profile-desc {
    display: block; }

  .about-sec .profile-wrap li {
    margin-bottom: 18px; }
    .about-sec .profile-wrap li .profile-title {
      display: block;
      width: 100%;
      margin-bottom: 4px; } }
@media (max-width: 414px) {
  h1 {
    font-size: 27px; } }
@media (max-width: 358px) {
  #download_cv.mdl-button {
    margin-bottom: 20px;
    margin-left: 10px; }

  .about-sec .datepicker {
    left: -25px; } }

/*# sourceMappingURL=style.css.map */

.imgcrop {
    width: 293px;
    height: 192px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}
